@import "tailwindcss";

:root {
  --font-family-base: "Poppins", sans-serif;
  --sm-spacing: 8px;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-body);
}

@theme {
  --color-Secundario: #dac1ff;
  --color-Principal: #00f34a;
  --color-bgtgderecha: #fff;
  --color-selector: #bf94ff; /* USADO */

  /* ZOMBRAS */
  --shadow-gray: -2px 14px 20px -4px rgba(0, 0, 0, 0.4);

  /* breakpoints */
  --breakpoint-sm: 640px; /* mobile */
  --breakpoint-md: 768px; /* tablet */
  --breakpoint-lg: 1024px; /* laptop */
  --breakpoint-xl: 1280px; /* desktop */
  --breakpoint-2xl: 1536px;

  /* ESPACIOS */

  /* 🎨 Light Theme (por defecto) */
  --color-body: #fff;
  --color-text: #202020; /*color textos */
  --color-carousel: #9955ff;
  --color-primary-light: rgb(52, 131, 235);
  --color-whiteBg: #dac1ff;
  --color-bg: rgb(255, 255, 255);
  --color-bg-alpha: rgba(230, 230, 230, 0.3); /*color links sidebar */
  --color-bg2: rgb(245, 245, 245);
  --color-bg3: #fff;
  --color-bg4: #dcdcdc;
  --color-bg5: #1e3a8a;
  --color-bgtotal: #edf3fb;
  --color-bgtgderecha: #fff;
  --color-toggle: #f9743b;
  --color-subtitle: #2c2c2c;

  --font-xs: 0.75em;
  --font-sm: 0.875em;
  --font-md: 1em;
  --font-16px: 16px;
  --font-lg: 1.25em;
  --font-xl: 2em;
  --font-xxl: 3em;
  --font-xxxl: 4em;
  --font-button: 0.875em;

  --size-nav-height: 5rem;
  --size-slideroffset: 0.3em;
  --size-icon: 1.4em;

  --motion-translate-toggle: -12px;
  --motion-logorotate: 360deg;
}

/* 🌙 Dark Theme */
[data-theme="dark"] {
  --color-body: #202020;
  --color-text: #fff;
  --color-carousel: #9955ff;
  --color-primary-dark: rgb(52, 131, 235);
  --color-whiteBg: #dac1ff;
  --color-bg: #2c2c2e;
  --color-bg-alpha: rgba(0, 0, 0, 0.3);
  --color-bg2: rgb(30, 30, 30);
  --color-bg3: #2c2c2e;
  --color-bg4: #4e4e50;
  --color-bg5: #3b82f6;
  --color-bgtotal: #1c1c1e;
  --color-bgtgderecha: #21252b;
  --color-toggle: rgb(52, 131, 235);
  --color-subtitle: #b7b7b7;

  --motion-translate-toggle: 26px;
  --motion-logorotate: -360deg;
}

/* Animacion imagen */
@keyframes flotar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

@utility animate-flotar {
  animation: flotar 1.5s ease-in-out infinite alternate;
}

@utility animate-flotar-slow {
  animation: flotar 1.7s ease-in-out infinite alternate;
}

@layer base {
  .sidebar-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .sidebar-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.4);
    border-radius: 9999px;
  }

  .sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
  }
}
